extends ../layout

block content
    a(href='/usuarios') Volver
    br
    br
    br
    ht Nuevo Usuario
    br
    br
    form(action='/usuarios/create' method='post')
        .form-group
            label(for='nombre') Nombre:
            input#nombre.form-control(type='text' name='nombre' value= usuario.nombre )
            
        .form-group
            label(for='email') Email:
            input#email.form-control(type='text' name='email' value= usuario.email)
        .form-group
            label(for='pwd') Password:
            input#pwd.form-control(type='password' name='password' value= usuario.password)
        .form-group
            label(for='confirm_pwd') Conf:
            input#confirm_pwd.form-control(type='password' name='confirm_password' value= usuario.password)
        br
        br
        input.btn.btn-primary(type='submit' value='OK')
        