extends ../layout

block content
    a(href='/usuarios') Volver
    br
    br
    br
    ht Actualizar Usuario
    br
    br
    form(action=`/usuarios/${usuario.id}/update` method='post')
        .form-group
            label(for='nombre') Nombre:
            input#nombre.form-control(type='text' name='nombre' value= usuario.nombre)
        br
        br
        input.btn.btn-primary(type='submit' value='OK')
        